<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Contato</title>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">

</head>
<body>
    <nav>
        <a href="/">Início</a> |
        <a href="/catalogo">Catálogo</a> |
        <a href="/mural">Mural</a> |
        <a href="/carrinho">Carrinho</a> |
        <a href="pedido"> Pedidos </a> |
        <a href="/login">Login</a>

    </nav>

    <header class="logo-header">
        <a href="/">
            <img src="{{ url_for('static', filename='imagens/astronauta.png') }}" alt="Astronauta bordando">   
            <div class="texto-logo">
                <h1>O Astronauta</h1>
                <h2>BORDADOS</h2>
            </div>
        </a>
    </header>
   
{% if mensagem %}
    <p style="color: red;">{{ mensagem }}</p>
{% endif %}
    <div class="edicao-cadastro">

    <form method="post">

        <label for="nova_senha">Nome:</label><br>
        <input type="text" name="novo_nome" id="novo_nome" required><br><br>

        <label for="confirmar_senha">Sobrenome:</label><br>
        <input type="text" name="novo_sobrenome" id="novo_sobrenome" required><br><br>

        <label for="codigo">Email:</label><br>
        <input type="text" name="novo_email" id="novo_email" required><br><br>

        <label for="confirmar_email">Confirmar Email:</label><br>
        <input type="texto" name="confirmar_email" id="confirmar_email" required><br><br>

        
        <label for="novo_usuario">Telefone:</label><br>
        <input type="text" name="novo_telefone" id="novo_telefone" required><br><br>


        <label for="novo_usuario">Nome de Usuário:</label><br>
        <input type="text" name="novo_usuario" id="novo_usuario" required><br><br>

        <label for="nova_senha">Senha:</label><br>
        <input type="password" name="nova_senha" id="nova_senha" required><br><br>

        <label for="confirmar_senha">Confirmar Senha:</label><br>
        <input type="password" name="confirmar_senha" id="confirmar_senha" required><br><br>

        <div class="botao-centro">
            <a href="{{ url_for('login') }}" class="botao-cadastro" >Voltar ao Login</a>
            <button type="submit" class="botao" value="Cadastrar"> Cadastrar</button>
        </div>
        
    </form>
    </div>
</body>


<footer class ="rodape">
    <p>&copy; 2025 O Astronauta Bordados.</p>
    {%for contato in contatos %}
    <p>{{ contato['numero'] }} | {{ contato['email'] }} | {{ contato['insta'] }}</p>
    {% endfor %}
</footer>
</html>
