<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Catálogo de Bordados</title>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">

</head>

        <nav>
        <div class="botao-perfil">
            <div class="foto-perfil">
                {% if usuario %}
                    <a href="{{ url_for('perfiladm') }}">
                        <img src="{{ url_for('static', filename='imagens/' ~ (foto or 'user.png')) }}">
                    </a>
                {% else %}
                    <img src="{{ url_for('static', filename='imagens/user.png') }}">
                {% endif %}
            </div>
        
            {%if nome and sobrenome %}
                <a href="{{url_for('perfiladm')}}">{{nome}} {{sobrenome}}</a>
            {% else %}
                <a href="{{url_for('perfil')}}">Usuário</a>
            {% endif %}
          </div>
    
    
        <a href="/inicioadm">Início</a> |
        <a href="/catalogoadm">Catálogo</a> |
        <a href="/muraladm">Mural</a> |
        <a href="/configuracoes">Configurações</a> |
        <a href="/pedidos">Pedidos</a> |
        <a href="/logout" onclick="return confirm('Tem certeza que deseja sair?')">Logout</a>
    </nav>

<header class="logo-header">
    <a href="/inicioadm">
        <img src="{{ url_for('static', filename='imagens/astronauta.png') }}" alt="Astronauta bordando">   
        <div class="texto-logo">
            <h1>O Astronauta</h1>
            <h2>BORDADOS | ADMINISTRADOR</h2>
        </div>
    </a>
</header>
<body>
  
    <div class="botoes-align">
        <div class="botoes-conf">
            <a href="{{ url_for('pedidos') }}">Pendentes</a>
        </div>
        <div class="botoes-conf-select">
            <a href="{{ url_for('processo') }}">Em Andamento</a>
        </div>
        <div class="botoes-conf">    
            <a href="{{ url_for('finalizado') }}">Finalizados</a>
        </div>  <!-- Conteúdo da página -->
    </div>
    <div class="quantidade-pedidos">
        <p>Quantidade: {{ total_pedidos }}</p>
        <p>Valor total: R$ {{ "{:,.2f}".format(valor_pedidos).replace(",", "v").replace(".", ",").replace("v", ".") }}</p>
    
    </div>
    <div class="todos-pedidos">
        {% for codigo, pedidos in pedidos_agrupados %}
            <div class="codigo-pedidos">
                <p><strong>Data do Pedido:</strong> {{ pedidos[0].data_pedido.strftime('%d/%m/%Y') }}</p>
                <p><strong>Código:</strong> {{ codigo }}</p>
                <div class="pedidos-container">
                    {% for pedido in pedidos %}
                        <div class="pedido-container">
                            <a href="{{ url_for('detalhe_pedido', codigo_pedido=pedido.codigo_pedido) }}">
                                <img src="{{ url_for('static', filename='imagens/' ~ pedido.imagem) }}" alt="Imagem do bordado">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    

<footer class ="rodape">
    <p>&copy; 2025 O Astronauta Bordados.</p>
    {%for contato in contatos %}
    <p>{{ contato['numero'] }} | {{ contato['email'] }} | {{ contato['insta'] }}</p>
    {% endfor %}
</footer>
</body>
</html>

