<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Bordado</title>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">

</head>

<body>
        <nav>
        <div class="botao-perfil">
        <div class="foto-perfil">
            {% if usuario %}
                <a href="{{ url_for('perfil') }}">
                    <img src="{{ url_for('static', filename='imagens/' ~ (foto or 'user.png')) }}">
                </a>
            {% else %}
                <img src="{{ url_for('static', filename='imagens/user.png') }}">
            {% endif %}
        </div>
    
        {%if nome and sobrenome %}
            <a href="{{url_for('perfil')}}">{{nome}} {{sobrenome}}</a>
        {% else %}
            <a href="{{url_for('perfil')}}">Usuário</a>
        {% endif %}
      </div>

        <a href="/inicio-cliente">Início</a> |
        <a href="/catalogo-cliente">Catálogo</a> |
        <a href="/mural-cliente">Mural</a> |
        <a href="/carrinho-cliente">Carrinho</a> |
        <a href="/pedido-cliente"> Pedidos </a> |
        <a href="/logout" onclick="return confirm('Tem certeza que deseja sair?')">Logout</a>

    </nav>

    <header class="logo-header">
        <a href="/inicio-cliente">
            <img src="{{ url_for('static', filename='imagens/astronauta.png') }}" alt="Astronauta bordando">   
            <div class="texto-logo">
                <h1>O Astronauta</h1>
                <h2>BORDADOS | CLIENTE</h2>
            </div>
        </a>
    </header>
    <div class="botao-centro">
        <a href="{{ url_for('catalogo_cliente', tema=tema if tema and tema|lower != 'todos' else None) }}" class="botao" >Catálogo</a>
    </div>
    <form action="/realizar_pedido_cliente" method="post">    
        <div class="catalogo-container">

            {% if bordados %}
                {% for item in bordados %}
                    <div class="bordado-carrinho">
                        <img src="{{ url_for('static', filename='imagens/' ~ item.imagem) }}" width="150">
                        <p>Preço: R$ {{ item.preco }}</p>
                        <div class="quantidade">
                            <label for="quantidade_{{ item.id }}">Quantidade:</label>
                            <input type="number" name="quantidade_{{ item.id }}" value="{{ item.quantidade or 1 }}" min="1">
                            <button class="botao-carrinho" formaction="/quantidade" formmethod="post" type="submit">&#10003;</button>
                        </div>
                        <input type="hidden" name="id" value="{{ item.id }}">
                        <button class="botao-carrinho" formaction="/remover_item_cliente" formmethod="post" type="submit">Remover</button>
                        
                        
                    </div>
                {% endfor %}
            </div>
    
            <div class="botoes-carrinho" style="display: flex; gap: 10px; margin-top: 15px;">
                <button class="botao" formaction="/esvaziar_carrinho_cliente" formmethod="post" type="submit">Esvaziar Carrinho</button>
                <button class="botao" type="submit">Realizar Pedido</button>
            </div>
        </form>
        {% if bordados %}
        <div class="total-carrinho">
            <p>Total: R$ {{ '%.2f' | format(valor_total) }}</p>

        </div>
        {% endif %}

    {% else %}
        <div class="carrinho-vazio">
            <p>O carrinho está vazio.</p>
        </div>
    {% endif %}
     <div class="instagram-fixo">
        <a href="https://www.instagram.com/oastronauta.bordados/">
            <img src="{{ url_for('static', filename='imagens/instagram.png') }}" alt="Instagram">
        </a>
    </div>
    
    <div class="whatsapp-fixo">
        <a href="https://wa.me/5527997402134" target="_blank">
            <img src="{{ url_for('static', filename='imagens/whatsapp.png') }}" alt="Whatsapp">
        </a>
    </div>

        <div class="carrinho-fixo">
            <a href="/carrinho-cliente">
                <img src="{{ url_for('static', filename='imagens/carrinho.png') }}" alt="Carrinho">
            </a>
        </div>
        <div class="carrinho-container">
            {% if item_carrinho %}
            <span class="bolinha-notificacao"></span>
            {% endif %}
        </div>
           
<footer class ="rodape">
    <p>&copy; 2025 O Astronauta Bordados.</p>
    {%for contato in contatos %}
    <p>{{ contato['numero'] }} | {{ contato['email'] }} | {{ contato['insta'] }}</p>
    {% endfor %}
</footer>
</body>
</html>
